h1 {color: white }
p {
	font-family: "Times New Roman", Times, serif;
	font-size: 10px;
	color: orange;
}
ul {
	top: 0;
    	width: 340px;
    	list-style-type: none;
    	background-color: orange;
}

li a {
	font-family: "Times New Roman", Times, serif;
	font-style: oblique;
	font-size: 20px;
    	display: block;
    	color: white;
    	text-align: center;
    	padding: 14px 16px;
}
.button{
   background:url('mail.png') no-repeat left center;
   padding-top:100px;
   margin-left: 5px;
   padding-left:100px;
}
.button2{
   background:url('calender.png') no-repeat left center;
   padding-top:100px;
   padding-left:100px;
   margin-left: 15px;
}      
.button3{
   background:url('bb.png') no-repeat left center;
   margin-left: 15px;
   padding-top:100px;
   padding-left:100px;
}
.button4{
   background:url('osiris.png') no-repeat left center;
   padding-top:100px;
   margin-left: 5px;
   padding-left:100px;
}
.button5{
   background:url('Calendarexamenrooster.png') no-repeat left center;
   padding-top:100px;
   margin-left: 15px;
   padding-left:100px;
}
.button6{
   background:url('9292.png') no-repeat left center;
   padding-top:100px;
   margin-left: 15px;
   margin-top: 15px;
   padding-left:100px;
}
.hanze{
   margin-top: 15px;
}
.footer{
   margin-top: 10px;
}
